* {
  box-sizing: border-box; /* 将元素的内边距和边框纳入其总宽度和高度的计算 */
  margin: 0; /* 移除所有元素的外边距 */
}

body {
  padding: 50px; /* 为body元素添加内边距 */
  font-family: 'IconFont'; /* 设置默认字体 */
}

.chatbot {
  display: flex; /* 使用弹性盒子布局 */
  flex-direction: column; /* 设置主轴方向为垂直 */
  justify-content: center; /* 垂直居中对齐子元素 */
  align-items: center; /* 水平居中对齐子元素 */
}

.chatbot-box {
  width: 360px; /* 设置聊天框的宽度 */
  padding: 40px; /* 设置聊天框的内边距 */
  border: 1px solid #ffd966; /* 设置聊天框的边框样式 */
  border-radius: 10px; /* 设置聊天框边框的圆角 */
  color: #f5a42b; /* 设置文本颜色 */
  text-align: center; /* 设置文本居中对齐 */
  font-family: 'IconFont'; /* 应用自定义字体 */
  font-size: 18px; /* 设置字体大小 */
}

.chatbot-box img {
  visibility: hidden; /* 隐藏图片 */
  width: 100%; /* 设置图片宽度 */
  border-radius: 10px; /* 设置图片边框的圆角 */
}

.chatbot-image {
  width: 300px; /* 设置图片容器的宽度 */
  padding: 15px; /* 设置图片容器的内边距 */
  margin-bottom: 20px; /* 设置图片容器的外边距 */
}

.chat-input {
  padding: 30px 60px; /* 设置输入框的内边距 */
  overflow-y: auto; /* 设置垂直方向的滚动条 */
  white-space: normal; /* 正常显示空白符 */
  resize: vertical; /* 允许垂直方向调整大小 */
  word-wrap: break-word; /* 允许长单词换行 */
  height: 50px; /* 设置输入框的高度 */
  margin-right: 8px; /* 设置输入框的外边距 */
  background-color: #fff2cc; /* 设置输入框的背景色 */
  border: none; /* 移除输入框的边框 */
  border-radius: 12px; /* 设置输入框边框的圆角 */
  font-family: 'IconFont'; /* 设置输入框的字体 */
  font-size: 16px; /* 设置输入框的字体大小 */
}

button {
  padding: 10px 20px; /* 设置按钮的内边距 */
  border: none; /* 移除按钮的边框 */
  border-radius: 12px; /* 设置按钮边框的圆角 */
  background-color: #ffd966; /* 设置按钮的背景色 */
  color: #f5a42b; /* 设置按钮的文本颜色 */
  font-family: 'IconFont'; /* 设置按钮的字体 */
  font-size: 16px; /* 设置按钮的字体大小 */
}

input::placeholder {
  text-align: center; /* 设置输入框占位符文本居中对齐 */
  color: #f5a42b; /* 设置输入框占位符的颜色 */
}

/* 添加在线字体 */
@font-face {
  font-family: 'IconFont';  /* 定义的字体名，用于CSS中引用 */
  src: url('https://www.skyqian.com/usr/themes/Cuteen/static/CascadiaMono-Regular.woff2') format('woff2'); /* 正确的src属性值和format属性 */
  font-weight: bold; /* 字体的粗细 */
  font-style: bold;  /* 字体的风格 */
}