* {
  box-sizing: border-box;
  margin: 0;
}

body {
  padding: 50px;
  /* 使用在线字体 */
  font-family: 'IconFont';
}

.chatbot {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chatbot-box {
  width: 400px;
  padding: 40px;
  border: 2px solid #ffd966;
  border-radius: 10px;
  color: #f5a42b;
  text-align: center;
  font-family: 'IconFont'; /* 应用字体到聊天框 */
  font-size: 18px; /* 增大聊天框文本的字体大小 */
}

.chatbot-box img {
  visibility: hidden;
  width: 100%;
  border-radius: 10px;
}

.chatbot-image {
  width: 350px;
  padding: 15px;
  margin-bottom: 20px;
}

input {
  padding: 30px 80px; /* 适当调整输入框的内边距 */
  width: calc(100% - 95px); /* 减去按钮的宽度，确保输入框和按钮都能在视口中显示 */
  height: 40px; /* 适当调整输入框的高度 */
  margin-right: 5px; /* 适当调整输入框与按钮的间距 */
  background-color: #fff2cc;
  border: none;
  border-radius: 12px;
  font-family: 'IconFont'; /* 确保有备选字体 */
  font-size: 16px; /* 输入框文本的字体大小 */
}

button {
  padding: 10px 20px; /* 适当调整按钮的内边距 */
  border: none;
  border-radius: 12px;
  background-color: #ffd966;
  color: #f5a42b;
  font-family: 'IconFont'; /* 确保有备选字体 */
  font-size: 16px; /* 按钮文本的字体大小 */
}

input::placeholder {
  text-align: center;
  color: #f5a42b;
}

button {
  border-radius: 12px;
  background-color: #ffd966;
  color: #f5a42b;
}

/* 添加在线字体 */
@font-face {
  font-family: 'IconFont';  /* 定义的字体名，用于CSS中引用 */
  src: url('https://cdn3.codesign.qq.com/icons/X2bzpZvRWkZkAaV/latest/iconfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}