@charset "utf-8";
/* css Document */
/*2016-3-13 新增上传图片css*/
.a-u-pic-pic{width: 80px;height: 80px;background:url(../images/add-pic-pic.png) no-repeat;background-size: 100%;cursor: pointer;}
.a-u-pic-show-pic{position: relative;background: #fff;}
.a-u-pic-show-pic img{width: 80px;height: 80px;vertical-align: top;}
.a-u-pic-show-pic input{width: 80px;height: 80px;position: absolute;top: 0;left: 0;z-index: 99999999;cursor: pointer;opacity: 0;}
.a-u-pic-show-pic p{position: absolute;margin: 0;width: 200px;top: 90px;font-size: 12px;color: #f00;}
h6.wx_pic_pos{width:209px;height:209px;position:absolute;top:0px;left:0;z-index:999;background:url(/APP/Tpl/images/make/pic_box.png) no-repeat;margin:0;padding:0;}
h6.wx_pic_pos2{width:209px;height:209px;position:absolute;top:0px;left:-2px;z-index:999;background:url(/APP/Tpl/images/make/pic_box2.png) no-repeat;margin:0;padding:0;}
span.wx_pic_diy img{ background: #fff none repeat scroll 0 0;height:auto;left:0;position: absolute;top: 0;width:209px;height:209px;max-width:auto;}
span.wx_pic_diy{width:209px;height:209px;position:relative;border:none;background:none;}


.i-b-sen-text div span.wx_pic_diy{border:none;background:none;}


/*2.0版本新增样式*/
.i-b-rec-text div.i-b-pay span em.nickname,
.i-b-sen-text div.i-b-pay span em.nickname{position: absolute;color: #fff;margin:8px 0 0 98px;font-size: 26px;background:none;font-weight:normal;}
.i-b-sen-text div.i-b-pay span em.nickname{margin:8px 0 0 88px;}



//.i-top{height:auto!important;} //因需要增加安卓顶部设置功能，i-top重写


//background:none;background: -webkit-linear-gradient(red, blue); /* Safari 5.1 - 6.0 */
  //background: -o-linear-gradient(#2d2b31, #3b3b3e); /* Opera 11.1 - 12.0 */
  //background: -moz-linear-gradient(#2d2b31, #3b3b3e); /* Firefox 3.6 - 15 */
  //background: linear-gradient(#2d2b31, #3b3b3e); /* 标准的语法 */


//.i-top-div{height:auto!important;} //新增i-top-div层，用来存放顶部自定义栏