@charset "utf-8";
/* CSS Document */
/*2016-3-13 新增上传图片css*/
.a-u-pic-pic {
    width: 80px;
    height: 80px;
    background: url(../images/add-pic-pic.png) no-repeat;
    background-size: 100%;
    cursor: pointer;
}

.a-u-pic-show-pic {
    position: relative;
    background: #fff;
}

.a-u-pic-show-pic img {
    width: 80px;
    height: 80px;
    vertical-align: top;
}

.a-u-pic-show-pic input {
    width: 80px;
    height: 80px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99999999;
    cursor: pointer;
    opacity: 0;
}

.a-u-pic-show-pic p {
    position: absolute;
    margin: 0;
    width: 200px;
    top: 90px;
    font-size: 12px;
    color: #f00;
}

h6.wx_pic_pos {
    width: 209px;
    height: 209px;
    position: absolute;
    top: 0px;
    left: 0;
    z-index: 999;
    background: url(../images/pic_box.png) no-repeat;
    margin: 0;
    padding: 0;
}

h6.wx_pic_pos2 {
    width: 209px;
    height: 209px;
    position: absolute;
    top: 0px;
    left: -2px;
    z-index: 999;
    background: url(../images/pic_box2.png) no-repeat;
    margin: 0;
    padding: 0;
}

span.wx_pic_diy img {
    background: #fff none repeat scroll 0 0;
    height: auto;
    left: 0;
    position: absolute;
    top: 0;
    width: 209px;
    height: 209px;
    max-width: auto;
}

span.wx_pic_diy {
    width: 209px;
    height: 209px;
    position: relative;
    border: none;
    background: none;
}


.i-b-sen-text div span.wx_pic_diy {
    border: none;
    background: none;
}

.i-body {
    overflow-y: scroll;
    bottom: 110px;
}

.i-top {
    z-index: 100;
}

/*ali*/
.i-n-back {
    background: url("../images/i-top-nav-ali.png") no-repeat scroll 0 0;
}

.i-n-user {
    background: url("../images/i-n-user-ali.png") no-repeat scroll 0 0;
}

/*.i-top{background:url("../images/i-top-bg-ali.png") repeat-x scroll 0 0;}*/
.i-b-rec-text div.i-b-pay span, .i-b-sen-text div.i-b-pay span {
    background: rgba(0, 0, 0, 0) url("../images/i-pay-send-ali.png") no-repeat scroll 0 0;
}

.i-b-rec-text div.i-b-pay span i, .i-b-sen-text div.i-b-pay span i {
    width: 300px;
    height: 75px;
    background: rgba(0, 0, 0, 0) url("../images/i-pay-icon-send-ali.png") no-repeat scroll 0 0;
}

.i-b-rec-text div.i-b-pay span em, .i-b-sen-text div.i-b-pay span em {
    background: none;
    margin: 50px 0 0 100px;
}

.i-b-rec-text div.i-b-pay span.i-pay-rec i, .i-b-sen-text div.i-b-pay span.i-pay-rec i {
    background: rgba(0, 0, 0, 0) url("../images/i-pay-icon-rec-ali.png") no-repeat scroll 0 0;
}


.i-b-sen-text div.i-b-pay span.i-pay-send em, .i-b-sen-text div.i-b-pay span.i-pay-rec em {
    margin-left: 90px;
}


.i-b-sen-text .i-b-pay span.i-pay-send, .i-b-sen-text .i-b-pay span.i-pay-rec {
    background: rgba(0, 0, 0, 0) url("../images/i-pay-rec-ali.png") no-repeat scroll 0 0;
}

.i-b-we-left {
    background: rgba(0, 0, 0, 0) url("../images/i-bottom-ali.png") no-repeat scroll 0 0;
}

.i-b-we-mid {
    background: rgba(0, 0, 0, 0) url("../images/i-bottom-ali.png") repeat-x scroll 0 -100px;
}

.i-b-we-right {
    background: rgba(0, 0, 0, 0) url("../images/i-bottom-ali.png") no-repeat scroll right 0;
}


.i-b-sen-text div span {
    background: #629fef;
    border: 1px solid #629fef;
    color: #ffffff;
}

.i-b-sen-text div i {
    background: url(../images/sen-txt-ali-bg.png) right -31px no-repeat
}