:root {
--max-width: 750px;
--color-primary: #333;
--border-radius: 5px;
--font-size: 16px;
--search-height: 60px;
--player-height: 80px;
--color-disabled-text: #999;
--color-disabled-bg: #ddd;
--gradient-color-1: #e52d27;
--gradient-color-2: #b31217;
--gradient-color-3: #e52d27;
--gradient-color-4: #b31217;
}

html {
position: relative;
background-color: linear-gradient(to bottom right, var(--gradient-color-1), var(--gradient-color-2));
}

body {
position: relative;
font-size: var(--font-size);
background-color: linear-gradient(to top left, var(--gradient-color-3), var(--gradient-color-4));
background-attachment: fixed;
margin: 0;
padding: 0;
}

@media (min-width: 750px) {
body {
min-width: var(--max-width);
margin: auto;
box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}
}

.container {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 100%;
height: 100%;
padding: 10px;
box-sizing: border-box;
}

input {
font-size: var(--font-size);
}

#search {
position: sticky;
top: 0;
height: var(--search-height);
flex: 0 0 var(--search-height);
display: flex;
align-items: center;
justify-content: space-between;
padding: 10px 15px;
border-radius: var(--border-radius);
box-shadow: 0 0 5px #ccc;
z-index: 10;
background-color: rgba(255, 255, 255, 0.9);
width: 100%;
}

#search input {
width: 100%;
height: 100%;
background-color: transparent;
padding: 0 1em;
border: none;
outline: none;
border-radius: var(--border-radius);
font-weight: bold;
font-size: 1.2rem;
color: #333;
}

#list {
flex: 1;
min-height: calc(100vh - var(--search-height) - var(--player-height));
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.loading {
text-align: center;
padding: 40px 15px;
color: #666;
}

#list .item {
display: flex;
align-items: center;
justify-content: space-between;
background-color: #fff;
margin: 10px 15px;
padding: 0 10px;
border-radius: var(--border-radius);
cursor: pointer;
border: 1px solid transparent;
width: 100%;
max-width: 500px;
box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

#list .item .index {
color: #666;
margin-right: 8px;
}

#list .item .index::after {
content: '.';
}

#list .item .name {
flex: 1;
padding: 10px 0;
}

#list .item .more {
height: 100%;
cursor: pointer;
display: flex;
align-items: center;
justify-content: center;
border-radius: var(--border-radius);
background-color: var(--color-disabled-bg);
}

#list .item .more img {
width: 18px;
vertical-align: middle;
opacity: 0.6;
display: none;
padding: 6px;
}

#list .item.active {
border-color: #333;
}

#list .item.active .index {
color: #333;
}
#list .item[disabled='true'] {
border-color: var(--color-disabled-bg);
background-color: var(--color-disabled-bg);
color: var(--color-disabled-text);
}
#list .item[disabled='true'] .index {
color: #999;
}
#list .item[disabled='true'] .add {
display: block;
}
#list .item[disabled='true'] .more {
background: #fff;
}
#list .item[disabled='false'] .remove {
display: block;
}

#player {
position: sticky;
bottom: 0;
height: var(--player-height);
flex: 0 0 var(--player-height);
box-sizing: border-box;
background-color: rgba(255, 255, 255, 0.9);
display: flex;
padding: 10px 15px;
box-shadow: 0 0 5px #ccc;
z-index: 10;
width: 100%;
}

#player .cover {
--width: 60px;
position: relative;
width: var(--width);
height: var(--width);
flex: 0 0 var(--width);
overflow: hidden;
border-radius: var(--border-radius);
cursor: pointer;
margin-right: 15px;
}

#player .cover::after {
position: absolute;
content: '查看详情';
color: #fff;
top: 0;
left: 0;
bottom: 0;
right: 0;
background-color: rgba(0, 0, 0, 0.3);
display: flex;
align-items: center;
justify-content: center;
font-size: 12px;
}

#player .cover img {
width: 100%;
display: block;
}

#player .info {
flex: 1;
font-size: 14px;
display: flex;
align-items: center;
}

#player .info .name {
margin-bottom: 5px;
font-weight: bold;
font-size: 1.2rem;
color: #333;
}

#audio {
width: 100%;
}

#player .operate {
flex: 0 0 40px;
display: none;
}

.modal {
position: fixed;
top: 0;
left: 50%;
height: 100vh;
width: 100vw;
z-index: 100;
transform: translateX(-50%);
max-width: var(--max-width);
background-color: rgba(0, 0, 0, 0.3);
display: flex;
flex-direction: column;
justify-content: flex-end;
display: none;
}
.modal > div {
background-color: #fff;
}
.modal .title {
display: flex;
padding: 10px;
justify-content: center;
cursor: pointer;
font-size: 18px;
}

.modal .body {
padding: 10px;
}

.modal .footer {
padding: 10px;
display: flex;
align-items: center;
justify-content: center;
border-top: 1px solid #eee;
cursor: pointer;
}
.modal .cover {
max-width: 40%;
display: block;
margin: 10px auto;
}
.modal .lyric {
text-align: center;
max-height: 50vh;
overflow-y: auto;
margin: 30px auto;
line-height: 2;
}
